Makefile
config.h
config.log
config.status
cpmchattr
cpmchattr.o
cpmchmod
cpmchmod.o
cpmcp
cpmcp.o
cpmfs.o
cpmls
cpmls.o
cpmrm
cpmrm.o
device_libdsk.o
fsck.cpm
fsck.cpm.o
fsed.cpm
fsed.cpm.o
getopt.o
getopt1.o
mkfs.cpm
mkfs.cpm.o

